
@{
    ViewBag.Title = "Hotel Haven";
}

<main>
    <section class="row introduction center" aria-labelledby="aspnetTitle">
        <h1 id="title">Hotel Booking System</h1>
        <p>A vacation is what you take when you can no longer take what you've been taking.</p>
        <p><a href="" class="btn btn-primary btn-md">Explore &raquo;</a></p>
    </section>

    <div class="container hotel-list">
        <h3>Most popular choices for travellers from India:</h3>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <div class="card h-100">
                    <img src="~/Content/assets/hotels/express-in.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Express-In</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <div class="card h-100">
                    <img src="~/Content/assets/hotels/ginger.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ginger</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <div class="card h-100">
                    <img src="~/Content/assets/hotels/kewal.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hotel Kewal</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <section class="col-md-4" aria-labelledby="gettingStartedTitle">
                <div class="card h-100">
                    <img src="~/Content/assets/hotels/taj.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4" aria-labelledby="librariesTitle">
                <div class="card h-100">
                    <img src="~/Content/assets/hotels/the-park.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">The Park</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
            <section class="col-md-4" aria-labelledby="hostingTitle">
                <div class="card">
                    <img src="~/Content/assets/hotels/Aramness.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>